input[type="text"] {
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background-color: #f7f7f7;
    color: #1da1f2;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

#user-input {
    display: flex;
    align-items: center;
}

label {
    font-size: 20px;
    margin-right: 10px;
    color: #000;
    flex-shrink: 0;
}

button {
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1da1f2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    margin-left: 10px;
}

